* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa; /* Albastru deschis */
    line-height: 1.6;
}

header {
    background-color: #141414; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Am redus paddingul pentru a micșora bara */
}

.logo img {
    max-width: 100px;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center; /* Aliniem elementele vertical */
}

.navbar ul li {
    position: relative;
    margin: 0 15px; /* Am redus marginea între elemente */
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Am micșorat paddingul pentru a îmbunătăți aspectul */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; /* Adăugăm colțuri rotunjite */
}

.navbar ul li a:hover {
    background-color: #00838f; /* Albastru închis */
    color: #ffeb3b; /* Galben */
}

.navbar ul li ul {
    display: none;
    position: absolute;
    background-color: #00838f; /* Albastru închis */
    padding: 10px;
    border-radius: 5px;
    z-index: 1; /* Asigurăm că dropdown-ul este deasupra altor elemente */
}

.navbar ul li:hover ul {
    display: block;
}

.banner {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: auto;
}

.latest-news {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.latest-news h2 {
    color: #d32f2f; /* Roșu */
    margin-bottom: 15px;
}

.news-card {
    border: 1px solid #b0bec5;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
}

.news-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.news-card h3 {
    color: #37474f;
}

.news-card a {
    display: inline-block;
    margin-top: 10px;
    color: #141414;
    text-decoration: none;
}

.news-card a:hover {
    text-decoration: underline;
}

.speakers {
    margin: 20px auto;
    max-width: 900px;
}

.speaker {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.speaker img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.speaker h3 {
    font-size: 1.4rem;
    color: #37474f;
}

footer {
    background-color: #263238; /* Gri închis */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.socials a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.socials a:hover {
    color: #ffee58; /* Galben */
}
